<header>
  <nav>
    <a href="/urls">URL List</a>
    <a href="/urls/new">Add New URL</a>
  </nav>

  <% if (username) {%>
  <h1><%= username %></h1>
  <% } else {%>
  <form action= /login method="POST" style="margin:100px;">
    <label for="userName">Enter Your Name:</label>
    <input id="userName" type="text" name="username" placeholder="Jane" style="width: 300px">
    <input type="submit" value="Submit">
  <% } %>
  </form>
</header>