<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="font-size:20px; padding:20px;">
<header>
  <nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="/urls">URL List</a>
    <a class="navbar-brand" href="/urls/new">Add New URL</a>
  <div class="col-md-1" style="margin: 8px">
    <form class="form-inline" method="GET" action= '/register' >
      <button class="btn btn-success" type="submit">Register</button>
    </form>
  </div>
  </nav>
</header>
<h1 style= "margin-top: 20px">User Login</h1>
  <form action="/login" method="POST" class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Email</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</body>