<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Short+Long Url</title>
</head>
<body>
  <% include ./partials/_header %>
  <h1>Short And Long URL</h1>
  <p><%= `${shortURL}: ${longURL} ` %></p>
</body>
</html>