<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <h1>URL List</h1>
  <ul>
    <% for(let url in urls) { %>
      <li><%= `${url}: ${urls[url]} ` %><a href="https://www.w3schools.com">hi</a></li>
    <% } %>
  </ul>
</body>
</html>